# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: cd01fee61063a4d3abbb6d5e9d3e4b0b7173d1973a17c1b58911ee9cca14eab674ab2f25d109f527adece365aee22d3f4d6375d9c9fb1d5a2257b5146092ab83

test:
  secret_key_base: eadb0ca409974f180d8d064f6bec55f63b4b80681169d9f464edd8bf4ed9ee0e9f4bbd5967ec08c2156b36401eccfdc91c68f7cd11a5229f871f524b9e963898

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
